#coffee .slides.template-default > article:not(.nobackground):not(.biglogo) {
  background: -webkit-linear-gradient(top, #FFF, #EAEAEA);
  background: -moz-linear-gradient(top, #FFF, #EAEAEA);
  background: -ms-linear-gradient(top, #FFF, #EAEAEA);
  background: -o-linear-gradient(top, #FFF, #EAEAEA);
}

#coffee .slides .huge  {
  font-weight: bolder;
  font-size: 140px;
  line-height: 1em;
}

#coffee .slides h1, #coffee .slides .bigger {
  font-weight: bolder;
  font-size: 100px;
  line-height: 1em;  
}

#coffee .slides h2, #coffee .slides .big, #coffee .slides h3 {
  font-size: 70px;
  line-height: 1em;
}

#coffee .slides .huge, #coffee .slides .bigger, #coffee .slides .big {
  color: #333333;
}